@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


body {
  font-family: "Open Sans", sans-serif!important;
    color: #202124cf;
    background-color: #330c4f;
}

/* width */
.menuScroll::-webkit-scrollbar {
    display: none;
  }
  input {
    border : none!important
  }
  input:focus {
    outline: none!important;
  }
  input::placeholder {
    font-family: "Open Sans", sans-serif!important;
    font-size: small!important;
    font-weight: 100!important;
  }